body {
  font-family: "Baloo Tamma 2", cursive;
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

.grid-wrapper {
  display: grid;
  gap: 50px;
  grid-template-columns: 3fr 1fr;
}

.hidden {
  display: none;
}

/* ------------header-------------- */
header {
  text-align: center;
  background: url("images/bg-slash.gif") repeat;
  margin: 0;
  padding: 15px;
  width: auto;
  height: auto;
}

header img {
  margin-bottom: 30px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-nav {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  color: #696969;
}

.header-nav:visited {
  text-decoration: none;
  color: #696969;
}

/* ------------hot-topic-------------- */

.hot-topic {
  display: flex;
  flex-flow: row nowrap;
  margin: 60px 60px;
}

.topic-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #696969;
  color: white;
}

/* 更新日 */
.topic-wrapper date {
  position: relative;
  background-color: white;
  color: #696969;
  padding-left: 10px;
  margin-top: 30px;
  max-width: 20%;
}

/* 日付のリボン部分 */
.topic-wrapper date:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 13px 12px 0;
  border-color: transparent #696969 transparent transparent;
}

.hot-topic-title {
  margin-left: 30px;
  margin-top: 30px;
}

.hot-topic-content {
  margin-left: 30px;
  margin-top: 20px;
  width: 90%;
}

/* ------------news-------------- */
.news {
  margin: 60px 60px;
}

.news h1 {
  color: #696969;
  size: 16px;
  background: url("images/bg-slash.gif") repeat;
  padding-left: 15px;
  padding-bottom: 0;
  margin: 0;
}

.news ul li:nth-child(even) {
  background: url("images/bg-slash.gif") repeat;
  height: 40px;
}

.news ul {
  margin: 0;
  padding: 0;
}

.news ul li {
  list-style-type: none;
  display: grid;
  gap: 10px;
  grid-template-columns: 0.5fr 0.3fr 3fr;
  height: 40px;
}

.news ul li date {
  margin: auto 0 auto 15px;
  width: fit-content;
}

.news ul li p {
  max-width: fit-content;
  margin: auto 0;
}

.tagu-news {
  background-color: #696969;
  border-radius: 5px;
  padding: 1px 3px;
  color: white;
}

.tagu-topic {
  background-color: #314661;
  border-radius: 5px;
  padding: 1px 3px;
  color: white;
}

/* ------------article-------------- */
article {
  margin: 60px 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.article {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  box-shadow: 4px 4px 4px #dcdcdc;
}

.article img {
  width: 100%;
  height: auto;
}

.article h2 {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  font-weight: lighter;
  font-size: 23px;
}

.article p {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
}

.article date {
  margin-right: 0;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 10px;
  margin-bottom: 20px;
  background-color: #c0c0c0;
  color: white;
}

/* ------------side-menu-------------- */
.side-menu {
  margin-top: 60px;
  width: 80%;
}

/* ------------ranking-------------- */
.ranking h1 {
  margin: 0;
  background: url("images/bg-slash.gif") repeat;
  padding-left: 10px;
  border-left: solid 5px #314661;
  color: #696969;
}

.ranking ul {
  padding: 0;
}

.ranking ul li {
  margin-left: 0;
  margin-bottom: 30px;
  list-style-type: none;

  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
}

.ranking ul li img {
  display: block;
}

.ranking ul li p {
  margin: 0;
}

.rank {
  text-align: center;
  font-weight: bold;
  color: #696969;
}

.rankin {
  width: 30px;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.7;
}

.rankin.one {
  background-color: #daa520;
  border-radius: 50%;
}

.rankin.two {
  background-color: #b0c4de;
  border-radius: 50%;
}

.rankin.three {
  background-color: #d2691e;
  border-radius: 50%;
}

/* ------------ranking-------------- */
.document h1 {
  margin-top: 40px;
  background: url("images/bg-slash.gif") repeat;
  padding-left: 10px;
  border-left: solid 5px #314661;
  color: #696969;
}

.document h2 {
  color: #696969;
}

.document ul li {
  list-style-type: circle;
  font-size: 14px;
  margin-left: 40px;
}

/* ------------search-------------- */
.search h1 {
  margin-top: 40px;
  background: url("images/bg-slash.gif") repeat;
  padding-left: 10px;
  border-left: solid 5px #314661;
  color: #696969;
}

.search form {
  margin-left: 40px;
}
.search p {
  font-size: 12px;
}

/* ------------footer-------------- */
footer {
  background: url("images/bg-slash.gif") repeat;
  margin: 0;
  padding-bottom: 20px;
}

footer nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

footer nav ul li a {
  padding-top: 20px;
  margin-right: 20px;
  display: flex;
  align-self: center;
}

.footer-nav:visited {
  color: black;
  text-decoration: none;
}

footer .contact-icon {
  padding-top: 20px;
  width: 30px;
  margin-right: 40px;
}

footer p {
  text-align: center;
}
